{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	items                  VmiOrder[]|ObjectCollectiion
	datamatcher            module RegexData
	q                      Search
#}
<table id="ordered-index" class="table table-bordered">
	<thead>
		<tr>
			<th>
				<a href="{{ page.get_sortURL('custid') }}" class="link">Customer ID</a>
			</th>
			<th>
				<a href="{{ page.get_sortURL('shiptoid') }}" class="link">Ship-to ID</a>
			</th>
			<th>
				<a href="{{ page.get_sortURL('cell') }}" class="link">Cell</a>
			</th>
			<th>
				<a href="{{ page.get_sortURL('itemid') }}" class="link">Item ID</a>
			</th>
			<th>
				<a href="{{ page.get_sortURL('custitemid') }}" class="link">Customer Item ID</a>
			</th>
			<th class="text-right">
				Cases
			</th>
			<th class="text-right">
				Qty
			</th>
			<th>
				<a href="{{ page.get_sortURL('datetime') }}" class="link">Date</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				<tr>
					<td class="{{ datamatcher.string(item.custid, q) ? 'highlight' : '' }}">
						{{ item.custid }}
					</td>
					<td class="{{ datamatcher.string(item.shiptoid, q) ? 'highlight' : '' }}">
						{{ item.shiptoid }}
					</td>
					<td class="{{ datamatcher.string(item.cell, q) ? 'highlight' : '' }}">
						{{ item.cell }}
					</td>
					<td scope="row" class="{{ datamatcher.string(item.itemid, q) ? 'highlight' : '' }}">
						{{ item.itemid }}
					</td>
					<td class="{{ datamatcher.string(item.custitemid, q) ? 'highlight' : '' }}">
						{{ item.custitemid }}
					</td>
					<td class="text-right {{ datamatcher.string(item.cases, q) ? 'highlight' : '' }}">
						{{ item.cases }}
					</td>
					<td class="text-right {{ datamatcher.string(item.qty, q) ? 'highlight' : '' }}">
						{{ item.qty }}
					</td>
					<td>
						{{ item.date ? item.date|convertdate('m/d/Y') : '' }}
						{{ item.date ? (item.date ~ item.timestr())|convertdate('h:i A') : '' }}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="2" class="bg-secondary text-white text-center">
					No Results found
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
