{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	items              Customer[]|ObjectCollectiion
	datamatcher            module RegexData
	q                      Search
#}
<table id="cstkitem-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				<a href="{{ page.get_sortURL('itemid') }}" class="link">Item ID</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('custitemid') }}" class="link">Customer Item ID</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('bin') }}" class="link">Bin</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				<tr>
					<td scope="row">
						<a href="#" class="link cstkitem-link" data-itemid="{{ item.itemid }}" data-custitemid="{{ item.custitemid }}">
							<strong>{{ item.itemid }}</strong>
						</a>
					</td>
					<td class="{{ datamatcher.string(item.description, q) ? 'highlight' : '' }}">
						{{ item.custitemid }}
					</td>
					<td class="{{ datamatcher.string(item.bin, q) ? 'highlight' : '' }}">
						{{ item.bin }}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="2" class="bg-secondary text-white text-center">
					No Results found
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
