<div class="toast show max-w-100 toast-alert" data-autohide="false" role="alert">
	<div class="toast-header bg-{{ type }} text-white">
		<span data-notify="icon"><i class="{{ iconclass }}" aria-hidden="true"></i></span>
		&nbsp; &nbsp;
		<strong class="mr-auto mt-2 h4">{{ title }}</strong>
	</div>
	<div class="toast-body">
		{{ message }} <br>
		{% if fields %}
			Please Review the following fields:
			<ul class="list-inline comma-list mb-0">
				{% for id, description in fields %}
					<li class="list-inline-item"><a href="#{{ id }}" class="link">{{ description }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
