{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cstks                  CstkHead[]|ObjectCollectiion
	datamatcher            module RegexData
	q                      Search
#}
<table id="cstk-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				<a href="{{ page.get_sortURL('custid') }}" class="link">Cust ID</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('shiptoid') }}" class="link">Customer Ship-to ID</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('cell') }}" class="link">Cell</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if cstks.count() %}
			{% for cstk in cstks %}
				<tr>
					<td scope="row">
						<a href="#" class="link cstk-link" data-custid="{{ cstk.custid }}" data-shiptoid="{{ cstk.shiptoid }}" data-cell="{{ cstk.cell }}">
							<strong>{{ cstk.custid }}</strong>
						</a>
					</td>
					<td class="{{ datamatcher.string(cstk.shiptoid, q) ? 'highlight' : '' }}">
						{{ cstk.shiptoid }}
					</td>
					<td class="{{ datamatcher.string(cstk.cell, q) ? 'highlight' : '' }}">
						{{ cstk.cell }}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="3" class="bg-secondary text-white text-center">
					No Results found
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
