{% extends 'whse/vmi/_form.twig' %}
{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vmi                    module VendorManagedInventory
	order                  VmiOrder
#}
{% set customer = vmi.get_customer(order.custid) %}
{% set shipto = vmi.get_customer_shipto(order.custid, order.shiptoid) %}
{% block form %}
	<form action="{{ page.url }}" method="get" id="vmi-form">
		<input type="hidden" name="form" value="order">

		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<label for="custID">Customer ID</label>
					</div>
					<div class="col-sm-8">
						{% include 'util/form/input-modal-lookup.twig' with {
								'name': 'custID',
								'value': order.custid,
								'modaltarget': '#ajax-modal',
								'modaldescription': 'Search for / Choose Customer',
								'attributes_button': {'data-search': 'cstk'},
								'class_add': vmi.field_has_error_cstkcell('custID') ? 'is-invalid' : ''
							}
						%}
						<p class="help-text customer-name">{{ customer.name }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label for="shiptoID">Ship-to ID</label>
					</div>
					<div class="col-sm-8">
						{% include 'util/form/input-modal-lookup.twig' with {
								'name': 'shiptoID',
								'value': order.shiptoid,
								'modaltarget': '#ajax-modal',
								'modaldescription': 'Search for / Choose Customer Ship-to',
								'attributes_button': {'data-search': 'cstk'},
								'class_add': vmi.field_has_error_cstkcell('shiptoID') ? 'is-invalid' : ''
							}
						%}
						<p class="help-text shipto-name">{{ shipto.name }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<h4 class="customer-name">{{ customer.name }}</h4>
				<address class="customer-address {{ shipto ? '' : 'collapse'}}">
					<span class="address">{{ shipto.address }}</span><br>
					<span class="address2">{{ shipto.address2 }}</span>
					<span class="city">{{ shipto.city }}</span>, <span class="state">{{ shipto.state }}</span> <span class="zip">{{ shipto.zip }}</span>
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<label for="cell">Cell</label>
					</div>
					<div class="col-sm-8">
						{% include 'util/form/input-modal-lookup.twig' with {
								'name': 'cell',
								'value': order.cell,
								'modaltarget': '#ajax-modal',
								'modaldescription': 'Search for / Choose Stocking Cell',
								'attributes_button': {'data-search': 'cstk'},
								'class_add': vmi.field_has_error_cstkcell('cell') ? 'is-invalid' : ''
							}
						%}
					</div>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<button type="submit" class="btn btn-success mt-3">
						<i class="fa fa-keyboard-o" aria-hidden="true"></i> Enter Items
					</button>
					<a href="{{ page.url }}" class="btn btn-warning">
						<i class="fa fa-eraser" aria-hidden="true"></i> Clear All
					</a>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
